$clr-neutral: #ffffff;
$clr-dark-neutral: #3B3B3B;
$clr-browser-bg: #111111f3;
$clr-product-overview-bg: rgb(7, 6, 6);
$clr-browser-nav: #1f1f67;
$clr-modal-bg: #252222;
$clr-brand: #20ffe1;
$clr-heart: #ff0000;