@charset "UTF-8";

.main__product{
    @include layoutFlex(flex, flex-start, center, column, none, 20px);
}

.main__product, .main__loader {
    background-color: $clr-product-overview-bg;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 4% 35px 0 35px;

    &>span {
        @include layoutFlex(inherit, space-between, center, row, none, 0);
        width: 100%;
        &>a {
            @include layoutFlex(flex, flex-start, center, row, none, 5px);
            color: $clr-neutral;
        }

        &>h1 {
            font-size: 3rem;
            font-weight: bold;
        }
    }

    .main__container {
        @include layoutFlex(flex, flex-start, flex-start, row, none, 25px);

        .main__slider {
            @include layoutFlex(flex, center, center, row, none, none);
            flex-basis: 70%;
            height: 500px;
            position: relative;

            &>span{
                @include layoutFlex(flex, center, center, row, none, 15px);
                background-color: $clr-modal-bg;
                box-shadow: 0 0 12px 1px #07060670;
                border-radius: 10px;
                padding: 10px;
                position: absolute;
                bottom: 15px;
                margin: auto;
                &>button{
                    background-color: #808080;
                    border-radius: 50%;
                    width: 9px;
                    padding: 6px;
                    &:first-child{
                        background-color: $clr-brand;
                    }
                }
            }

            &>figure {
                height: inherit;
                width: 100%;

                img {
                    @include imageFit(100%, 100%, 100%, 100%, cover, block);
                    border-radius: 15px;
                }
            }
        }

        &>div {
            &:last-child {
                @include layoutFlex(flex, space-between, flex-start, column, none, 0);
                flex-basis: 30%;
                height: 100%;

                .main__article {
                    background-color: $clr-browser-bg;
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    padding: 20px;
                    position: relative;
                }

                .main__subtitle {
                    font-size: 1.3rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .main__paragraph {
                    font-size: .90rem;
                    line-height: .6cm;
                    height: 200px;
                    overflow: scroll;
                    transition: all 400ms ease-in-out;
                    padding-bottom: 40px;
                    &::-webkit-scrollbar {
                        display: none;
                      }
                     -ms-overflow-style: none;
                     scrollbar-width: none;
                }

                .main__article-footer {
                    background-color: $clr-modal-bg;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    box-shadow: 10px 0 20px 9px #000000db;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 20;
                    padding: 15px 20px;

                    &>button {
                        @include layoutFlex(flex, flex-start, center, row, none, 3px);
                        position: relative;
                        z-index: 21;
                        float: right;
                        &>svg{
                            font-size: 1.1rem;
                        }
                    }
                    .less{
                        display: none;
                    }
                }

                &>div {
                    @include layoutFlex(flex, space-between, center, row, none, 0);
                    border-radius: 15px;
                    margin-top: 20px;
                    background-color: $clr-browser-bg;
                    padding: 15px 20px;
                    width: 100%;

                    &>span {
                        &:first-child {
                            @include layoutFlex(flex, flex-start, center, row, none, 0);
                            font-size: .80rem;
                            opacity: .6;

                            &>button {
                                @include layoutFlex(inherit, flex-start, center, row, none, 0);
                                font-size: 1rem;

                                &:hover {
                                    opacity: 1;

                                    &>svg {
                                        opacity: inherit;
                                        color: $clr-heart;
                                    }
                                }
                            }
                        }
                    }
                    button[name='add']{
                        font-size: .90rem;
                        font-weight: bold;
                        transition: all 180ms ease-in-out;
                        &:hover{
                            color: $clr-brand;
                            transform: scale(110%);
                        }
                }
                }
            }
        }
    }
}