@charset "UTF-8";

.validation {
    @include layoutFlex(flex, none, none, row, none, 0);
    background-color: $clr-product-overview-bg;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    .warning {
        color: $clr-heart;
        font-weight: bold;
        padding: 0;
        display: none;
    }

    .back {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;

        &>svg {
            font-size: 2rem;
            color: $clr-brand;

        }
    }

    &>form {
        width: 100%;
        flex-basis: 40%;
    }

    &>figure {
        @include layoutFlex(flex, center, center, row, none, none);
        position: relative;
        flex-basis: 60%;

        &>img {
            @include imageFit(100%, 100%, 100%, 100%, cover, block);
            filter: brightness(55%);
        }

        &>figcaption {
            position: absolute;
            top: 45%;
            text-align: center;
            font-weight: bold;
            padding: 20px 35px 30px 35px;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.132);
            backdrop-filter: blur(8px);

            &>h1 {
                font-size: 4.7rem;
                margin-bottom: 15px;
            }

            &>span {
                font-size: 1.1rem;
                line-height: .6cm;
            }
        }
    }

    &>form {
        @include layoutFlex(flex, center, center, column, none, 0);
        padding: 0 90px;

        &>fieldset {
            @include layoutFlex(inherit, inherit, none, column, none, 25px);
            padding: 0 30px;

            &>legend {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 20px;
            }

            &>p {
                @include layoutFlex(flex, flex-start, flex-start, column, none, 7px);
                font-size: 1rem;
                line-height: .5cm;

                &>span {
                    color: $clr-heart;
                    font-size: .90rem;
                    font-weight: bold;
                }

                &:last-child {
                    display: block;
                }
            }
        }

        label {
            font-weight: bold;
            font-size: .95rem;
        }

        .personal-account {
            text-align: center;
            font-size: .85rem;
            color: #c6c2c2;
            margin-bottom: 10px;
        }

        & button {
            font-weight: bold;

            &:not([name='register']) {
                @include layoutFlex(flex, center, center, row, none, 10px);
                width: 100%;
                outline: 1px solid $clr-brand;
                border: none;
                border-radius: 20px;
                padding: 10px;
                background: linear-gradient(to right, $clr-brand 50%, transparent 50%);
                background-size: 200% 100%;
                background-position: bottom right;
                transition: all .6s ease-out;

                &:hover {
                    outline: none;
                    background-position: bottom left;
                    color: $clr-browser-bg;
                }

                &>svg {
                    font-size: 1.2rem;
                }
            }

            &[name='register'] {
                font-size: .95rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            &[name='google'] {
                margin: 20px 0;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .validation {
        @include layoutFlex(flex, center, center, column, none, 0);
        &>form {
            width: 100%;
        }

        &>figure {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            object-fit: cover;

            &>img {
                @include imageFit(100%, 100%, 100%, 100%, cover, block);
                filter: brightness(35%);
            }

            &>figcaption {
                position: absolute;
                top: 10%;
                padding: 20px 25px 30px 25px;
                margin: 0 30px;

                &>h1 {
                    font-size: 1.7rem;
                }

                &>span {
                    font-size: .90rem;
                }
            }
        }

        &>form {
            background-color: rgba(255, 255, 255, 0.132);
            backdrop-filter: blur(12px);
            border-radius: 20px;
            padding: 40px;
            width: initial;
            label {
                font-size: .85rem;
            }

            &.form-login{
                margin: 150px 30px 0 30px;
            }
            &.form-register{
                margin: 390px 30px 130px 30px;
                padding-bottom: 10px;
            }
            &>fieldset {
                padding: 0;

                &>legend {
                    font-size: 1.5rem;
                }
                &>p{
                    line-height: .7cm;
                }

            }

            & button {
                font-size: .85rem;
                &:not([name='register']) {
                    padding: 8px;

                    &>svg {
                        font-size: 1.2rem;
                    }
                }

                &[name='google'] {
                    margin: 10px 0;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1220px) {
    .validation {
        @include layoutFlex(flex, center, center, column, none, 0);

        &>form {
            width: 100%;
        }

        &>figure {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            object-fit: cover;

            &>img {
                @include imageFit(100%, 100%, 100%, 100%, cover, block);
                filter: brightness(35%);
            }

            &>figcaption {
                position: absolute;
                top: 10%;
                padding: 20px 35px 30px 35px;

                &>h1 {
                    font-size: 3.7rem;
                }

                &>span {
                    font-size: .95rem;
                }
            }
        }

        &>form {
            background-color: rgba(255, 255, 255, 0.132);
            backdrop-filter: blur(12px);
            border-radius: 20px;
            margin-top: 240px;
            padding: 40px;
            width: initial;

            &>fieldset {
                padding: 0;

                &>legend {
                    font-size: 2rem;
                }
            }
        }
    }
}