@charset "UTF-8";

.portfolio{
    @include flex(flex, center, center, none, column, 15px);
    position: relative;
    .portfolio__section {
        padding: 0 10px;
        .portfolio__title{
            font-size: 2.8rem;
            margin-bottom: 5px;
        }
        .portfolio__subtitle{
            margin-left: 5px;
        }

        &:first-child {
            padding: 300px 0 180px 10px;

        }

        &:last-child{
            padding: 0;
            position: relative;
            &::before {
                content: 'RECENT WORKS';
                position: absolute;
                top: -10px;
                left: 10px;
                font-size: 1rem;
                box-shadow: inset 0 -5px 0px 0px #ff184e;
            }
        }

        .portfolio__list{
            @include flex(flex, flex-start, center, none, row, 15px);
            margin: 40px 5px;
            button{
                font-size: .85rem;
            }
        }

        .current{
            color: $clr-primary;
        }
        .portfolio__container{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(265px, 2fr));
            gap: 25px;
            padding: 0 20px 30px 20px;
            &>div{
                @include flex(flex, center, center, none, none, 0);
            }
            .portfolio__article{
                @include flex(flex, center, none, none, column, 20px);
                box-shadow: 0 0 8px 0px #00000045;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 5px;
                padding: 12px;
                transition: all 180ms ease-in-out;
                position: relative;
                figure{
                    position: relative;
                    height: 100%;
                    img{
                        @include img(100%, 100%, 100%, 100%, cover, block);

                    }
                }

                &>span{
                    @include flex(flex, center, center, none, row, 15px);
                    position: absolute;
                    top: 15px;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    background-color: rgba(0, 0, 0, 0.763);
                    transition: all 230ms ease-in-out;
                    transform: scale(0%);
                    visibility: hidden;
                }
                .portfolio__project-link{
                    @include flex(inherit, flex-start, center, none, row, 5px);
                    text-decoration: none;
                    position: relative;
                    font-size: .90rem;
                    font-weight: bold;
                    color: $clr-primary;
                    &>svg{
                        font-size: 1.3rem;
                    }
                }

                &:hover{
                    transform: scale(110%);
                    &>span{
                        visibility: visible;
                        transform: scale(100%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px){
    .portfolio{
        .portfolio__section {
            .portfolio__container{
                grid-template-columns: repeat(1, 2fr);
            }
        }
    }
}

@media screen and (max-width: 991px){
    .portfolio{
        .portfolio__section {
            .portfolio__title{
                font-size: 2.6rem;
            }

            &:first-child {
                padding: 380px 0 120px 10px;
            }

            .portfolio__list{
                @include flex(flex, flex-start, center, none, row, 15px);
                flex-wrap: wrap;
            }

            .portfolio__container{
                                .portfolio__article{
                    .portfolio__project-title{
                        margin: 15px 0 10px 0;
                        font-size: .90rem;
                    }
                    .portfolio__project-link{
                        line-height: .7cm;
                        font-size: .95rem;
                    }
                }
            }
        }
    }
}