@charset "UTF-8";

<<<<<<< HEAD
@mixin flex($display, $justify-content, $align-items, $wrap, $direction, $gap){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
    flex-direction: $direction;
    gap: $gap;
}

@mixin img($percentage, $percentage, $percentage, $percentage, $fit, $display){
    max-width: $percentage;
    min-width: $percentage;
    max-height: $percentage;
    min-height: $percentage;
    object-fit: $fit;
=======
@mixin layoutFlex($display, $justify, $align, $direction, $wrap, $gap) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin imageFit($max, $min, $maxh, $minh, $obj, $display) {
    max-width: $max;
    min-width: $min;
    max-height: $maxh;
    min-height: $minh;
    object-fit: $obj;
>>>>>>> 50ff871da34c8c9698caf8060128bf277db8fdfa
    display: $display;
}

*,
<<<<<<< HEAD
::before,
::after{
    box-sizing: border-box;
}

body, html{
    font-family: $fnt-general;
    font-size: 16px;
    color: $clr-secondary;
    height: 100%;
    border: 16px solid $clr-primary;
    position: relative;
    user-select: none;
    scroll-behavior: smooth;

    .mobile{
      display: none;
      & span{
        transition: all 300ms ease-in-out;
          -webkit-transition: all 300ms ease-in-out;
          -o-transition: all 300ms ease-in-out;
          -moz-transition: all 300ms ease-in-out;
      }
    }

    .animation-open{
        &>span{
            &:first-child{
                transform: rotate(45deg) translateY(8px);
                -o-transform: rotate(45deg) translateY(8px);
                -ms-transform: rotate(45deg) translateY(8px);
                -moz-transform: rotate(45deg) translateY(8px);
                -webkit-transform: rotate(45deg) translateY(8px);
            }
            &:nth-last-child(2){
                transform:translateX(-30px);
                -o-transform: translateX(-30px);
                -ms-transform: translateX(-30px);
                -moz-transform:translateX(-30px);
                -webkit-transform: translateX(-30px);
                opacity: 0;

            }
            &:last-child{
                transform: rotate(-45deg) translateY(-12px) translateX(5px);
                -o-transform: rotate(-45deg) translateY(-12px) translateX(5px);
                -ms-transform: rotate(-45deg) translateY(-12px) translateX(5px);
                -moz-transform: rotate(-45deg) translateY(-12px) translateX(5px);
                -webkit-transform: rotate(-45deg) translateY(-12px) translateX(5px);
=======
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: $fnt-general;
    font-size: 16px;
    color: $clr-neutral;
    scroll-behavior: smooth;
    user-select: none;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.486);
    height: 100vh;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: $clr-neutral;
    font-family: $fnt-general;
    padding: 0;
}

input {
    background-color: $clr-brand;
    font-family: $fnt-general;
    font-weight: bold;
    color: $clr-browser-bg;
    border: none;
    border-radius: 15px;
    outline: none;
    width: 100%;
    padding: 10px 0 10px 12px;
    margin-top: 15px;

    &::placeholder {
        color: inherit;
    }
}

#root {
    padding: 15px 30px;
}

.wishlisted {
    color: $clr-heart;
}

.header {
    width: 100%;
    margin-bottom: 15%;

    .header__navbar {
        @include layoutFlex(flex, space-between, center, row, none, 0);
    }

    .header__list {
        @include layoutFlex(inherit, inherit, inherit, inherit, inherit, 40px);

        .header__item {
            @include layoutFlex(inherit, flex-start, center, row, none, 10px);
            font-weight: bold;
            font-size: .98rem;
            position: relative;

            & svg {
                font-size: 1.2rem;
            }

            & button {
                @include layoutFlex(inherit, flex-start, center, inherit, inherit, inherit);
                font-weight: inherit;
                font-size: inherit;

                &[name='cart'] {
                    position: relative;
                    z-index: 9;

                    &>svg {
                        color: $clr-brand;
                    }
                }
                &[name='browse']{
                    &:hover{
                        color: $clr-brand;
                    }
                }
            }

            &>a {
                @include layoutFlex(flex, flex-start, center, row, none, 10px);
                color: $clr-neutral;
            }

            .dropdown-menu {
                position: absolute;
                top: 15px;
                right: -5px;
                z-index: 25;
                height: 20px;
                width: 110px;
                padding-top: 10px;
                display: none;

                .dropdown__list {
                    background-color: hwb(0deg 100% 0% / 28%);
                    backdrop-filter: blur(100px);
                    padding: 10px;
                    border-radius: 5px;
                }

                button {
                    @include layoutFlex(flex, flex-start, center, row, none, 5px);
                    font-size: .85rem;
                    color: $clr-neutral;

                    &>svg {
                        font-size: 1.1rem;
                    }

                    &:hover {
                        color: $clr-brand;
                    }
                }
            }

            &.dropdown {
                &:hover {
                    &>.dropdown-menu {
                        display: block;
                    }
                }
>>>>>>> 50ff871da34c8c9698caf8060128bf277db8fdfa
            }
        }
    }

<<<<<<< HEAD
    .animation-close{
      &>span{
          &:first-child{
              transform: rotate(0) translateY(0);
              -o-transform: rotate(0) translateY(0);
              -ms-transform: rotate(0) translateY(0);
              -moz-transform: rotate(0) translateY(0);
              -webkit-transform: rotate(0) translateY(0);
          }
          &:nth-last-child(2){
              transform:translateX(0);
              -o-transform: translateX(0);
              -ms-transform: translateX(0);
              -moz-transform:translateX(0);
              -webkit-transform: translateX(0);
              opacity: 1;

          }
          &:last-child{
              transform: rotate(0) translateY(0) translateX(0);
              -o-transform: rotate(0) translateY(0) translateX(0);
              -ms-transform: rotate(0) translateY(0) translateX(0);
              -moz-transform: rotate(0) translateY(0) translateX(0);
              -webkit-transform: rotate(0) translateY(0) translateX(0);

          }
      }
  }

    #root{
        @include flex(flex, none, none, none, column, 0 );
        height: 100%;
    }
    main{
        background-color: $clr-elements-bg;
            flex-basis: 100%;
            overflow:scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            &  h1{
                font-size: 4.1rem;
                font-weight: bold;
                color: $clr-primary;
            }
            &  h2{
                font-size: 1rem;
            }
            .mouse{
                position: absolute;
                bottom: 20px;
                width: 22px;
                animation-name: scroll;
                animation-duration:1.2s;
                animation-iteration-count:infinite;
                animation-fill-mode:forwards;
            }

            @keyframes scroll {
                0%{
                    bottom: 20px;
                }
                50%{
                    bottom: 40px;
                }
                0%{
                    bottom: 20px;
                }
            }
        }
    a{
        font-weight: 400;
        color: $clr-secondary;
    }
    button{
        background-color: transparent;
        font-family: $fnt-general;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .container{
        height: 1000px;
        @include flex(flex, none, none, none, column, 40px);
        width: 100%;
        margin-top: 5%;
    }
}

.header{
    background-color: $clr-elements-bg;
    padding: 20px 30px 5px 20px;
    flex-basis: 10%;
    .header__navbar{
        @include flex(flex, space-between, center, none, none, none);
        & > figure{
            width: 200px;
            img{
                @include img(100%, 100%, 100%, 100%, cover, block);
            }
        }
        .header__list{
            @include flex(flex, flex-end, center, none, row, 40px);
            margin-bottom: 35px;
            .header__item{
                font-size: .90rem;
                position: relative;
                &:hover{
                    .dropdown{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            & .header__link{
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    color: $clr-primary;
                }
                &.portfolio{
                    @include flex(flex, flex-start, center, none, row, 0px);
                    &>svg{
                        font-size: 1.8rem;
                    }
                }
             &.current{
                color: $clr-primary;
             }
            }
        }
    }

        .dropdown {
            background-color: #fff;
            box-shadow: 0 0 16px #0000003b;
            opacity: 0;
            position: absolute;
            top: 150%;
            transition: all .25s ease-in-out;
            visibility: hidden;
            z-index: 20;
            &::before{
                color: #fff;
                content: "\f0d8";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 2em;
                left: 10%;
                position: absolute;
                top: -6%;
            }
            .dropdown-menu{
                padding: 5px 25px 5px 15px;
            }
            .dropdown__item{
                color: #181818;
                margin: 15px 0;
                &>a{
                    text-decoration: none;
                    &:hover{
                        color: $clr-primary;
                        text-decoration: underline;
                    }
                }
            }
        }
}

// Glitch Effect

.wrapper{
    margin-bottom: 40px;
}

.less-m{
    margin-bottom: 30px;
}

h1 {
    line-height: 0;
    animation: glitch1 2.5s infinite;
  }

  h1:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }

  h1:nth-child(3) {
    color: $clr-primary;
    animation: glitch3 2.5s infinite;
  }

  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

// Glitch Effect End

@media screen and (max-width: 430px){
  .header{
    .header__navbar{
      .header__list{
        padding: 140px 10px 50px 10px;
      }
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 990px){
  .header{
    .header__navbar{
      .header__list{
        padding: 120px 50px 30px 50px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    main {
      & h1 {
        font-size: 1.3rem;
      }

      & h2 {
        font-size: .95rem;
      }
    }
  }

  .header{
    .header__navbar{
      & > figure{
        width: 160px;
    }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  body {
    main {
      & h1 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 801px) and (max-width: 990px) {
  body {
    main {
      & h1 {
        font-size: 3.3rem;
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  body {
    main {
      & h1 {
        font-size: 2.6rem;
      }
    }
  }
}


@media screen and (max-width: 990px){
  body{
    position: relative;
    .mobile{
      @include flex(flex, center, center, none, column, 5px);
      position: absolute;
      top: 25px;
      right: 15px;
      z-index: 102;
      &>span{
        background-color: $clr-primary;
        border: 1px solid red;
        padding: 1px;
        width: 35px;
        border-radius: 10px;
      }
    }
  }

  main{
        .mouse{
            width: 20px;
        }
    }
    .header{
      padding: 20px 30px 10px 20px;
      text-align: center;
      .header__navbar{
          .header__list{
              @include flex(none, center, center, none, column, 25px);
              margin-bottom: 0;
              background-color: $clr-elements-bg;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              z-index: 100;
              overflow:scroll;
              -ms-overflow-style: none;
              scrollbar-width: none;
              &::-webkit-scrollbar {
                  display: none;
              }
              .header__item{
                  font-size: .95rem;
                  width: 100%
              }
              & .header__link{
                      &.portfolio{
                      @include flex(flex, center, center, none, row, 0);
                      margin-left: 20px;
                  }
              }
          }
      }

          .dropdown {
              background-color: transparent;
              box-shadow: none;
              opacity: 1;
              position: initial;
              visibility: visible;
              &::before{
                  content: "";
              }
              .dropdown-menu{
                  padding: 0;
              }
              .dropdown__item{
                background-color: #fff;
                box-shadow: 0 0 16px #0000003b;
                margin: 15px 0;
                padding: 10px;
                &>a{
                  line-height: .6cm;
                }
              }
          }
      }
}

@media screen and (min-width: 991px) {
  .header {
    .header__navbar {
      .header__list {
        display: flex;
      }
    }
  }
=======
    .modal {
        @include layoutFlex(none, flex-end, flex-start, none, none, 0);
        background-color: #111111cc;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;

        &>span {
            @include layoutFlex(flex, flex-start, center, row, none, 8px);
            position: absolute;
            top: 15px;
            left: 10px;
            cursor: pointer;

            &:hover {
                color: $clr-brand;

                & svg {
                    color: $clr-brand;
                }
            }

            &>button {
                position: relative;
                top: 2px;
                left: 5px;
                transition: all 600ms ease-in-out;
                font-size: 1rem;

                &>svg {
                    font-size: 1.4rem;
                }
            }
        }

        .modal__container {
            @include layoutFlex(flex, flex-start, none, column, none, 10px);
            box-shadow: -7px 0px 9px 0 #00000061;
            transition: all 480ms ease-in-out;
            background-color: $clr-modal-bg;
            padding: 20px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 11;
            width: 0;
            opacity: 0;

        }

        .modal__header {
            @include layoutFlex(inherit, space-between, center, row, none, 0);
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 10px;
            transition: all 300ms ease-in-out;
            opacity: 0;

            &>button {
                font-size: .90rem;
            }
        }

        .modal__list {
            @include layoutFlex(flex, flex-start, none, column, none, 10px);
            max-height: 1000px;
            overflow: scroll;
            transition: all 550ms ease-in-out;
            padding-top: 200px;
            opacity: 0;

            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
            scrollbar-width: none;

            .modal__item {
                @include layoutFlex(inherit, space-between, center, row, none, 0);
                background-color: $clr-dark-neutral;
                padding: 12px;
                border-radius: 8px;
                width: 100%;
                font-size: .90rem;

                &>span {
                    @include layoutFlex(flex, space-between, center, row, none, 10px);
                    font-size: .75rem;
                    opacity: .5;
                    width: 70px;

                    &>button {
                        @include layoutFlex(inherit, center, center, row, none, 0);
                        opacity: 1;

                        &>svg {
                            background-color: $clr-modal-bg;
                            font-size: 1.1rem;
                            border-radius: 50px;
                        }
                    }
                }

                &:first-child {
                    margin-top: 5px;
                }

                &:last-child {
                    margin-bottom: 40px;
                }
            }
        }

        .modal__footer {
            background-color: $clr-modal-bg;
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px;
            padding: 15px 0;
            transition: all 300ms ease-in-out;
            opacity: 0;

            &>span {
                @include layoutFlex(flex, space-between, center, row, none, 0);
                font-weight: bold;
                font-size: .95rem;

                &>h3 {
                    opacity: .6;
                }

                &>button {
                    @include layoutFlex(inherit, none, center, row, none, 5px);
                    font-size: 1.2rem;
                    font-weight: inherit;
                }
            }
        }
    }
}

.main__loader {
    @include layoutFlex(flex, center, center, column, none, 15px);

    .loader {
        border: 5px solid rgba(230, 221, 221, 0.849);
        border-top: 5px solid $clr-brand;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
>>>>>>> 50ff871da34c8c9698caf8060128bf277db8fdfa
}